{{#if errors.length}}
    <p>Oops, something went wrong:</p>
    <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}
{{#if challenge}}
    <div class="content">
        <form class="is-half" action="/challenges/{{challenge.id}}/play" method="post">
            <input id="language-field" type="hidden" value="{{challenge.progLanguage}}">
            <h1 class="has-text-centered">{{challenge.title}}</h1>
            <div class="column is-three-fifths is-offset-one-fifth">
                <p class="is-size-5 has-text-centered">{{challenge.description}}</p>
                <textarea id="play-challenge-textarea" class="textarea" name="challengeText">{{challenge.challengeText}}</textarea>
            </div>
            <div class="section">
                <div class="column box is-one-quarter">
                    <p>Date Published: {{challenge.datePublished}}</p>
                    <p>Created By: {{challenge.accountUsername}}</p>
                    <p>Number of plays: {{challenge.numOfPlays}}</p>
                    <p>Difficulty: {{challenge.difficulty}}</p>
                    <p>Language: {{challenge.progLanguage}}</p>
                </div>
            </div>
            <div class="has-text-centered">
		        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button class="button is-success" type="submit" value="Submit">Submit</button>
            </div>
        </form>
    </div>
    
{{else}}
    <p>This challenge does not exist</p>
{{/if}}

<!-- Codemirror Inititalizer has to be below the div containing the codemirror window -->
<script src="/js/codemirror-languages.js"></script>
<script src="/js/play-challenge-code.js"></script>


