<h1 class="has-text-centered is-size-1 is-uppercase">Challenges</h1>

{{#if errors.length}}
<p>Oh no, something went wrong:</p>
<ul>
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{else}}

    {{#if challenges.length}}

        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <td>User</td>
                    <td>Title</td>
                    <td>Language</td>
                    <td>Published</td>
                    <td>Plays</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {{#each challenges}}
                <tr>
                    <td>{{userId}}</td>
                    <td>{{title}}</td>
                    <td>{{progLanguage}}</td>
                    <td>{{datePublished}}</td>
                    <td>{{numOfPlays}}</td>
                    <td>
                        <a href="/challenges/{{id}}/preview">
                            <button class="button is-primary">
                                Preview Challange
                            </button>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>No challenges exist yet.</p>
    {{/if}}
{{/if}}