{{#if errors.length}}
    <p>Is someone there? >:( ... Hmm, must have been the wind</p>
    <ul>
        {{#each errors}}
            <p>{{this}}</p>
        {{/each}}
    </ul>
{{else}}
    {{#if challenge}}
        <div class="content">
            <h1>{{challenge.title}}</h1>
            <p>Description: {{challenge.description}}</p>
            <p>Content: {{challenge.challangeText}}</p>
            <p>Published: {{challenge.datePublished}}</p>
            <p>By: {{challenge.userId}}</p>
            <p>Number of plays: {{challenge.numOfPlays}}</p>
            <p>Difficulty: {{challenge.difficulty}}</p>
            <p>Language: {{challenge.progLanguage}}</p>
        </div>
        
    {{else}}
        <p>This challenge does not exist</p>
    {{/if}}
{{/if}}

