{{#if errors.length}}
    <p>Oops, something went wrong:</p>
    <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}
{{#if challenge}}
    <div class="content">
        <form class="is-half" action="/challenges/{{challenge.id}}/play" method="post">
            <h1 class="has-text-centered">{{challenge.title}}</h1>
            <div class="column is-three-fifths is-offset-one-fifth">
                <p class="is-size-5 has-text-centered">{{challenge.description}}</p>
                <textarea class="textarea" name="challengeText">{{challenge.challengeText}}</textarea>
            </div>
            <div class="section">
                <div class="column box is-one-quarter">
                    <p>datePublished: {{challenge.datePublished}}</p>
                    <p>accountUsername: {{challenge.accountUsername}}</p>
                    <p>numOfPlays: {{challenge.numOfPlays}}</p>
                    <p>difficulty: {{challenge.difficulty}}</p>
                    <p>progLanguage: {{challenge.progLanguage}}</p>
                </div>
            </div>
            <div class="has-text-centered">
                <button class="button is-success" type="submit" value="Submit">Submit</button>
            </div>
        </form>
    </div>
    
{{else}}
    <p>This challenge does not exist</p>
{{/if}}


