{{#if errors.length}}
    <p>Oops, something went wrong:</p>
    <ul>
        {{#each errors}}
            <p>{{this}}</p>
        {{/each}}
    </ul>
{{else}}
    {{#if challenge}}
        <div class="content">
            <form class="is-half" action="/challenges/{{challenge.id}}/play" method="post">
                <h1>{{challenge.title}}</h1>
                <p>challengeText: {{challenge.challengeText}}</p>
                <textarea name="challengeText">{{challenge.challengeText}}</textarea>
                <p>solutionText: {{challenge.solutionText}}</p>
                <p>description: {{challenge.description}}</p>
                <p>datePublished: {{challenge.datePublished}}</p>
                <p>userId: {{challenge.userId}}</p>
                <p>numOfPlays: {{challenge.numOfPlays}}</p>
                <p>difficulty: {{challenge.difficulty}}</p>
                <p>progLanguage: {{challenge.progLanguage}}</p>

                <button class="button is-success" type="submit" value="Submit">Submit</button>
            </form>
        </div>
        
    {{else}}
        <p>This challenge does not exist</p>
    {{/if}}
{{/if}}

