{{#if errors.length}}
    <p>Oh noooooo, something went wrong :(</p>
    <ul>
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    
{{else}}
    {{#if challenge}}

        <h1 class="has-text-centered is-size-2">{{challenge.title}}</h1>
        <div class="box m-4">

        </div>
        <div class="has-text-centered">
            <button class="button is-primary is-large is-rounded">
                Play Challange
            </button>
        </div>

        <p>{{challenge.description}}</p>


        <!-- PLACEHOLDER COMMENTS -->
        <div class="border-bottom"></div>
        <div class="card">
            <div class="card-content">
                <p class="subtitle">
                    Mattias
                </p>
                <div class="content">
                    Such a nice text, and the challange was nice too.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p class="subtitle">
                    Joel
                </p>
                <div class="content">
                    Get a job!
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p class="subtitle">
                    To emotinally connected man
                </p>
                <div class="content">
                    When i was a small child... bla bla bla life story comment.
                </div>
            </div>
        </div>
        <!-- END OF PLACEHOLDER COMMENTS -->

    {{else}}
        <p>This challenge preview does not exist.</p>
    {{/if}}
{{/if}}