{{#if isLoggedIn}}
    <div class="has-text-centered">
        <h1>Create comment</h1>

        {{#if errors.length}}
            <p>Oh no, something went wrong:</p>
            <ul>
                {{#each errors}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        {{/if}}
        <form action="/challenges/{{challengeId}}/comments/create" method="post">
            <!--<textarea name="commentText" placeholder="Comment Text">{{comment.commentText}}</textarea>-->
            <div class="column is-half is-offset-one-quarter">
                <input name="commentText" class="input" type="text" placeholder="Comment text" value="{{comment.commentText}}">
            </div>
            <input type="hidden" value="{{accountUsername}}" name="accountUsername">
            <div class="control has-text-centered">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button class="button is-success" type="submit" value="Create">Create</button>
            </div>
        </form>
    </div>
{{else}}
    <div class="has-text-centered">
        <h2>Please login to write a comment!</h2>
        <a href="/accounts/login">Login</a>
    </div>
{{/if}}

